{% load static %}
<link rel="stylesheet" href="{% static 'css/toggle.css'%}">
<script src="{% static 'js/toggler.js' %}" async>
</script>

<div class="col col-sm-12 col-lg-12 col-md-12">
    <div class="col col-sm-2 col-lg-2 col-md-2 text-uppercase text-danger fw-bold">Non Veg</div>

    <div  class ="toggle-container col col-sm-2 col-lg-2 col-md-2" onclick="start_animation()">
    <div class="toggle_ball_item">
    </div>
    </div>
    <div class="col col-sm-2 col-lg-2 col-md-2 text-success text-uppercase fw-bold">Veg</div>
</div>
