@keyframes show-toast {
        0%{opacity: 0;left: 600px; }
        20%{opacity: 0.2;}
        80%{opacity: 0.8;}
        100%{opacity: 1.0;left: 0;}
    }
.show_notification{
    position: absolute;
    left: 0;
    opacity: 1;  
}
input.btn.btn-info {
    padding: 2px 1.75em;
    font-size: 12px;
    cursor: pointer;
}