@keyframes show-toast {
        0%{opacity: 0;left: 600px; }
        20%{opacity: 0.2;}
        80%{opacity: 0.8;}
        100%{opacity: 1.0;left: 0;}
    }
.show_notification{
    position: absolute;
    left: 0;
    opacity: 1;  
}
input.btn.btn-info {
    padding: 2px 1.75em;
    font-size: 12px;
    cursor: pointer;
}

.veg{
    background-color: rgba(39, 198, 39, 0.489);
}
.non_veg{
    background-color: rgba(198, 39, 39, 0.489);
}

table  tbody  tr   td{
    border: none !important;
}

#opening_hours_form select{
    padding: 5px 10px !important;
}
.add_hour{
    padding: 16px 10px 5px 16px;
}